@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.announcements {
  align-content: stretch;
  background: #fff;
  background-image: url('twenty-five.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  grid-column: 1 / span 2; /* span 2 or 1 */
  flex-wrap: wrap;
  overflow-y: hidden;
  padding: 1vw;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 98vh;
  padding: 1vh 1.5vw 1vh 2vw;
  width: 96.5vw;
}

.item {
  color: #fff;
  display: flex;
  flex: 1 0 25vw;
  font-size: 4em;
  margin: 1vw;
  opacity: 0;
  padding: 2vw;
  text-align: center;
  transition: opacity 1s ease;
}

.item-text {
  align-self: center;
  flex-grow: 1;
}

.note {
  background: #fff;
  border-radius: 1vw;
  flex-grow: 1;
  font-size: 2em;
  margin: 1vw 1vw 0 1vw;
  padding: 1vw;
  text-align: center;
}

.note:last-child {
  margin: 1vw;
}

.notifications {
  align-content: flex-start;
  background: #959595;
  display: none;
  flex-wrap: wrap;
  font-weight: 600;
  grid-column: 2 / 2;
  overflow: auto;
}

.wide {
  flex: 1 1 auto;
}

.birthday {
  background-image: url(fireworks.gif);
  background-size: cover;
}

.athletics {
  background: #4b6931;
}

.fine-arts {
  background: #439ab5;
  /* color: #123; */
}

.community-clubs {
  background: #d78833;
}

.general-academics {
  background: #771d18;
}
