@import url('https://fonts.googleapis.com/css?family=Arvo|Oswald&display=swap');

body {
  font-family: Arvo, serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.announcements {
  align-content: stretch;
  background: #fff;
  display: flex;
  grid-column: 1 / span 2; /* span 2 or 1 */
  flex-wrap: wrap;
  overflow-y: hidden;
  padding: 1vw;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  width: 100vw;
}

.item {
  color: #fff;
  display: flex;
  flex: 1 0 25vw;
  font-size: 3em;
  margin: 1vw;
  opacity: 0;
  padding: 2vw;
  text-align: center;
  transition: opacity 1s ease;
}

.item-text {
  align-self: center;
  flex-grow: 1;
}

.note {
  background: #fff;
  border-radius: 1vw;
  flex-grow: 1;
  font-size: 1.5em;
  margin: 1vw 1vw 0 1vw;
  padding: 1vw;
  text-align: center;
}

.note:last-child {
  margin: 1vw;
}

.notifications {
  align-content: flex-start;
  background: #959595;
  display: none;
  flex-wrap: wrap;
  grid-column: 2 / 2;
  overflow: auto;
}

.wide {
  flex: 1 1 auto;
}

.one {
  background: #790000;
}

.two {
  background: #f1e2a0;
}

.three {
  background: #90badd;
}

.four {
  background: #df9056;
}

.five {
  background: #c89804;
}
